<div style="width: 1280px; margin: 0 auto; overflow: hidden;">
  <div style="text-align:center" class="font">
    <h1>Welcome to {{ title }}</h1>
  </div>

  <div class="row">
    <div class="column">
      <mat-form-field>
        <input
          matInput
          type="text"
          [(ngModel)]="locationA"
          placeholder="Enter Town"
        />
      </mat-form-field>
    </div>

    <div class="column">
      <mat-form-field>
        <input
          type="text"
          [(ngModel)]="locationB"
          matInput
          placeholder="Enter Town"
        />
      </mat-form-field>
    </div>
    <button (click)="generateMap()">Go</button>
    <div class="column">
      <h2>Key</h2>
      <p>Some text..</p>
    </div>
  </div>

  <div>
    <img src="{{ this.mapUrl }}" class="center" />
  </div>
</div>
<router-outlet></router-outlet>
