<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Traffic Congestion Web Scraper</h3>
    </div>

    <p>
      Welcome to Traffic Congestion. Simply type in two locations and the system
      will output traffic information.
    </p>

    <hr />

    <input
      matInput
      type="text"
      [(ngModel)]="locationA"
      placeholder="Enter Location A"
    />

    <input
      type="text"
      [(ngModel)]="locationB"
      matInput
      placeholder="Enter Location B"
    />

    <button
      mat-raised-button
      [disabled]="!locationA || !locationB"
      (click)="generateMap()"
    >
      Search
    </button>

    <hr />

    <h6>{{ userTweet }}</h6>
    <h6>{{ latestTweet }}</h6>

    <hr />

    <h5>{{ trafficUpdate }}</h5>

    <hr />
  </nav>

  <img src="{{ this.mapUrl }}" class="left" />

  <router-outlet></router-outlet>
</div>
