.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 0px;
  max-width: 250px;
  background: #7386d5;
  color: #fff;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar p {
  color: #fff;
  padding: 10px;
}

#sidebar input {
  padding: 5px;
  margin: 7px;
}

#sidebar button {
  color: #7386d5;
  padding: 5px;
  margin: 7px;
  width: 100px;
}

#sidebar button:hover {
  color: #ffffff;
  background: #919dcf;
}

#sidebar input:hover {
  background: #c5ceff;
}

#sidebar h5 {
  color: #fff;
  padding: 10px;
  text-decoration: underline;
}

#sidebar h6 {
  color: #fff;
  padding: 10px;
}
