.container {
  width: 60%;
  margin: auto;
  overflow: hidden;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.font_title {
  font-size: 20px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  padding: 5%;
}

.font_body {
  font-size: 18px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  padding: 5%;
  align: 'center';
}
